.btn-secondary {
  background-color: #d3d3d3;
  color: #353535;
  border-color: #bbbbbb;
}

.jumbotron .fab{
  font-size: 1.5rem;
  color: #2c2c2c;
}

.jumbotron{
  border-radius: 0px;
}


footer a {
  color: #2c2c2c;
}

footer .fab{
  font-size: 1.25rem;
}
